<main>
	<section class="dashboard  padd-0 mrg-top-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-9 " *ngIf="this._uw.admin">
					<div class="row mrg-0 mrg-top-20">
						<div class="tr-single-header">
							<h3 class="dashboard-title">Dashboard</h3>
						</div>
						<div class="tr-single-body">							
							<div class="row">
								<div class="col-md-6 col-sm-6">								<div class="col-md-12 col-sm-6">
										<div class="widget simple-widget">
											<div class="widget-caption danger">
												<div class="row">
													<div class="col-xs-4 padd-r-0">
														<i class="cl-success icon ti-flag"></i>
														</div>
													<div class="col-xs-8">
													<div class="widget-detail">
														<h3 *ngIf="tixs">{{_uw.totalTixs}}</h3><!-- 
														<h3 *ngIf="tixs">total tixs</h3>
														<span>Tours</span> -->
														<span>Tours</span>
													</div>
													</div>
													<div class="col-xs-12">
														<div class="widget-line">
															<span style="width:100%;" class="bg-success widget-horigental-line"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
										
									<div class="col-md-12 col-sm-6">
										<div class="widget simple-widget">
											<div class="widget-caption warning">
												<div class="row">
													<div class="col-xs-4 padd-r-0">
														<i class="cl-warning icon ti-calendar"></i>
													</div>
													<div class="col-xs-8">
														<div class="widget-detail">
															<h3 *ngIf="books">{{_uw.totalBooks}}</h3><!-- 
															<h3 *ngIf="books">total books</h3>
 -->															<span>Reservas pendientes</span>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="widget-line">
															<span style="width:60%;" class="bg-warning widget-horigental-line"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>							
								</div>
							</div>
		
							<div class="row">					
							</div>							
						</div>
					</div>
				</div>		
			</div>
		</div>
	</section>
</main>		
		<!-- ======================= End dashboadr admin ===================== -->
