<main><section class="cart gray-bg">
			<div class="container">
				<div class="row">
					
					
					
					<!-- Sidebar -->
					<div class="col-md-4  col-sm-4 cols ">
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h1 class="text-success"><span class="text-success">1.</span> </h1>
								<!-- <h4>Total<span class="fl-right">{{_uw.book.monto}}</span></h4> -->
							</div>
							
							<div class="tr-single-body">
								<div class="booking-price-detail side-list no-border">
									  <img src="assets/img/successbook.png"  lass="img-responsive" alt="" />
									
									<!-- <a (click)="sendBook()" class="btn btn-success full-width">Reservar</a> -->
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-md-4  col-sm-4 cols ">
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h1><span class=" text-warning">2.</span> </h1>
								<!-- <h4>Reserva pendinete<span class="fl-right">{{_uw.book.nombre}}</span></h4> -->
							</div>
							
							<div class="tr-single-body">
								<div class="booking-price-detail side-list no-border">
									<img src="assets/img/check-inbox.png"  lass="img-responsive" alt="" />
									<ul>
										
										<li><h4>Gracias por reservar! Te hemos enviado un email con las intrucciones a seguir para confirmar tu reserva </h4><strong class="pull-right"></strong></li>
									</ul>
									<a routerLink="/treks" class="btn btn-success full-width">ver mas tours</a>
								</div>
							</div>
							
						</div>
					</div>
					<div class="col-md-4  col-sm-4 cols ">
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h1 class="text-success"><span class="text-success">3.</span> </h1>
								<!-- <h4>Total<span class="fl-right">{{_uw.book.monto}}</span></h4> -->
							</div>
							
							<div class="tr-single-body" style="background-color: #ffd200 !important;">
								<div class="booking-price-detail side-list no-border">
									  <img src="assets/img/clickval.png"  lass="img-responsive" alt="" />
									
									<!-- <a (click)="sendBook()" class="btn btn-success full-width">Reservar</a> -->
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</main>
	<app-footer></app-footer>