    <main>
        <section class="section-base ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p align="justify">
                            <strong>MISIÓN</strong> <br>
                            Ofrecer a clientes nacionales e internacionales, empresas e instituciones experiencias de aventura y adrenalina con un enfoque cultural y científico. Donde los turistas más allá de la caminata pueden recrear o imaginar los diferentes ambientes prehistóricos, conociendo la biología y geología del lugar que les rodea. Sirviendo éste como cultura general y ayudando apreciar con más detalle los paisajes durante el camino. Comprometidos a superar las expectativas de cada uno de nuestros clientes, proveedores y de nuestro entorno, innovando en el turismo, destacando nuestras riquezas naturales y hospitalarias.
                        </p>
                    </div>
                    <div class="col-lg-4 no-margin-md" align="justify">
                        <p>
                         <strong>VISION</strong> <br>
                        Ser el mejor servicio turístico innovador y diferente, donde nuestros clientes más allá de salir de la rutina, puedan disfrutar del entretenimiento y la adrenalina que ofrecen nuestros destinos en el ámbito nacional e Internacional, garantizando así su satisfacción. Nos proyectamos en crecer como Empresa de Turismo, aumentando la rentabilidad de nuestro negocio, trabajando de manera sustentable, impactando de forma positiva al medio ambiente, medio económico y sociocultural.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <hr class="space-xs height-10" />
                     <ul class="slider" data-options="type:slider,perView:1,autoplay:3000">
                            <li>
                                <div class="cnt-box cnt-box-testimonials-bubble">
                                    <p>
                                        Me encanta viajar con Andes Pro Adventures, excelente organización, se pasa buenisimo, estoy segura de volver a contrar
                                    </p>
                                    <div class="thumb-bar">
                                        <img src="assets/media/user-1.jpg" alt="" />
                                        <p>
                                            <span>Narly Rincón</span>
                                            <span>Alpinist</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-testimonials-bubble">
                                    <p>
                                        Me encanto viajar con AndesPro Adventures. Son muy profesionales como agencia tours operativa. 100% recomendada.
                                    </p>
                                    <div class="thumb-bar">
                                        <img src="assets/media/user-2.jpg" alt="" />
                                        <p>
                                            <span>Jakeline Sepulveda</span>
                                            <span>Climber</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-base section-color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="title">
                            <h2>Descubre</h2>
                            <p>Nuestros principales servicios</p>
                        </div>
                        <hr class="space-lg hidden-md" />
                        <p>
                            FULL DAYS. <br> Atención inassets/mediata. 
                        </p>
                        <a href="about.html#" class="  btn-text">Contactanos</a>
                    </div>
                   <div class="col-lg-9">
                        <ul class="slider arrows-left" data-options="type:carousel,perView:3,perViewSm:1,focusAt:center,gap:30,arrows:true,controls:out,autoplay:3000">
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="about.html#" class="img-box"><img src="assets/media/image-4.jpg" alt="" /></a>
                                    <div class="caption">
                                        <h2>Caminatas</h2>
                                        <p>
                                            Despeja tu mente y obten conección con la naturaleza. Caminatas a ritmo suave donde describriras maravillosos lugares.
                                        </p>
                                        <a class="btn-text" href="treks.html">Ver Tours</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="about.html#" class="img-box"><img src="assets/media/image-9.jpg" alt="" /></a>
                                    <div class="caption">
                                        <h2>Escaladas</h2>
                                        <p>
                                            Lleva tu cuerpo al límite, asciende y vive Adrenalina y diversión.
                                        </p>
                                        <a class="btn-text" href="treks.html">Actividades</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="about.html#" class="img-box"><img src="assets/media/image-8.jpg" alt="" /></a>
                                    <div class="caption">
                                        <h2>Excursiones</h2>
                                        <p>
                                            Te invitamos a nuestras travesías. Recreación turismo y deporte es lo que necesitas.
                                        </p>
                                        <a class="btn-text" href="treks.html">Ver Tours</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cnt-box cnt-box-top boxed">
                                    <a href="about.html#" class="img-box"><img src="assets/media/image-6.jpg" alt="" /></a>
                                    <div class="caption">
                                        <h2>Montañismo</h2>
                                        <p>
                                            Sorpréndete con algunas de las mejores montañas del mundo con nuestros tours.
                                        </p>
                                        <a class="btn-text" href="treks.html">Ver Tours</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="section-base ">
            <div class="container">
                <div class="grid-list gap-60" data-columns="3" data-columns-md="2" data-columns-sm="1" data-gap="60">
                    <div class="grid-box">
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-1" data-lightbox-anima="fade-in">
                                <img src="assets/assets/media/user-4.jpg" alt="" />
                                <div class="caption">
                                    <h2>Romulo Cuevas</h2>
                                    <span>Guía</span>
                                    <span class="icon-links">
                                       
                                        <a href="team-2.html#" target="_blank"><i class="icon-instagram"></i></a>
                                    </span>
                                    <p>
                                        Co-fundador de Andes Pro Adventures.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-2" data-lightbox-anima="fade-in">
                                <img src="assets/assets/media/user-1.jpg" alt="" />
                                <div class="caption">
                                    <h2>Jhon Hernández</h2>
                                    <span>Guía</span>
                                    <span class="icon-links">
                                        
                                        <a href="team-2.html#" target="_blank"><i class="icon-instagram"></i></a>
                                    </span>
                                    <p>
                                       Asesor, rescatista y guia turítico.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="cnt-box cnt-box-team lightbox" data-href="#user-3" data-lightbox-anima="fade-in">
                                <img src="assets/assets/media/user-2.jpg" alt="" />
                                <div class="caption">
                                    <h2>Alejandro Díaz</h2>
                                    <span>Guía</span>
                                    <span class="icon-links">
                                        
                                        <a href="team-2.html#" target="_blank"><i class="icon-instagram"></i></a>
                                    </span>
                                    <p>
                                        Guia y asesor turístico.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
                <div id="user-1" class="box-lightbox-md light">
                    <h2>Romulo Cuevas</h2>
                    <h4>Co-fundador y Guía</h4>
                    <hr class="space-sm" />
                    <p align="justify">
                        Soy Ing. Geólogo de los Andes, apasionado por el montañismo, la escalada y la aventura. Como guía turístico me encanta describir los paisajes creando una armonía con el medio ambiente a tráves del entendiemiento. <br> "Los relieves presentes son producto de procesos geológicos pasados y su ciclicidad es la clave del futuro"
                    </p>
                    <hr class="space-sm" />
                    
                </div>
                <div id="user-2" class="box-lightbox-md light">
                    <h2>Jhon Hernandez</h2>
                    <h4>Asesor de tours - Guía</h4>
                    <hr class="space-sm" />
                    <p align="justify">
                        Guía de montaña.<br> Montañista, escalador, ambientalista, guía de montaña. Con experiencia en escalada en roca, manejo de cuerdas y auto rescate.
                    </p>
                    <hr class="space-sm" />
                    
                </div>
                <div id="user-3" class="box-lightbox-md light">
                    <h2>Alejandro </h2>
                    <h4>Asesor de tours - Guía</h4>
                    <hr class="space-sm" />
                    <p align="justify">
                        Amante de los deportes de conexión con la naturaleza y todo lo que las montaña nos entrega. Animate y lleva tu cuerpo allá donde un día tus ojos soñaron.
                    </p>
                    <hr class="space-sm" />
                   
                </div>
               
                <hr class="space" />
            </div>
        </section>
        <section class="section-base section-color section-call">
            <div class="container">
                <div class="cnt-box cnt-call">
                    <i class="im-paper-plane"></i>
                    <div class="caption">
                        <h2>Unete a nuestro equipo</h2>
                        <p>
                           Envianos tu CV para formar parte de nuestro grupo de GUIAS.
                        </p>

                       <a routerLink="/contacto" class="btn btn-xs">Contactanos</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-left">
                            <i class="im-air-balloon"></i>
                            <div class="caption">
                                <h3>El mejor trabajo</h3>
                                <p>Todo el día sumérgete en la naturaleza y las increíbles vistas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-left">
                            <i class="im-bar-chart2"></i>
                            <div class="caption">
                                <h3>Oportunidades profesionales</h3>
                                <p>Crecer con nosotros es posible gracias a nuestra estructura de niveles.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box icon-box-left">
                            <i class="im-bee"></i>
                            <div class="caption">
                                <h3>Conoce gente increíble</h3>
                                <p>¡Somos el mejor equipo de todos! Divertidos y amigables.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
     <app-footer></app-footer>