

<footer class="light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>AndesPRO</h3>
                    <p>Tours & Travel<br>Más alla de la travesía <br>AndesPRO Adventures</p>
                </div>
                <div class="col-lg-4">
                    <h3>Contacto</h3>
                    <ul class="icon-list icon-line">
                        <li>Metropoly, Santiago, Chile</li>
                        <li>andesproadventures@gmail.com</li>
                        <li>+56 9 5824 9250</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="icon-links icon-social icon-links-grid social-colors">
                        <a href="https://www.facebook.com/andesproadventures/" target="_blank" class="facebook"><i class="icon-facebook"></i></a>
                        <a href="https://www.youtube.com/channel/UC-wOjzoP7yW-BczUkuypLMg" target="_blank" class="youtube"><i class="icon-youtube"></i></a>
                        <a href="https://www.instagram.com/andesproadventures/" target="_blank" class="instagram"><i class="icon-instagram"></i></a>
                    </div>
                    <hr class="space-sm" />
                    <p>Síganos en los canales sociales para mantenerse al día.</p>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <span>© 2019 AndesPro Adventures by <a href="http://tuw3bsite.com.ve" target="_blank">Tuw3bsite</a>.</span>
                <span><a href="contacts.html">Contactanos</a> | <a href="index.html#">Politicas de privacidad</a></span>
            </div>
        </div>
       </footer>