   <footer class="footer dark-bg">
      <div class="container">
        
        <!-- Row Start -->
        <div class="row">
        
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <h4>Featured Destinations</h4>
                <ul>
                  <li><a href="#">Destination Grid</a></li>
                  <!-- <li><a href="#">Destination List</a></li>
                  <li><a href="destination-grid-sidebar.html">Destination Grid Sidebar</a></li>
                  <li><a href="destination-list-sidebar.html">Destination List Sidebar</a></li>
                  <li><a href="#">Destination Detail</a></li>
                  <li><a href="restaurant-grid.html">Restaurant Grid</a></li> -->
                </ul>
              </div>
              <div class="col-md-4 col-sm-4">
                <h4>Subscribe Now</h4>
            <!-- Newsletter -->
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Email">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-location-arrow font-20"></i></button>
              </span>
            </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="f-social-box">
              <ul>
                <li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
                <li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
              </ul>
            </div>
              </div>
            </div>
          </div>
          
        
          
        </div>
        
        <!-- Row Start -->
        <div class="row">
          <div class="col-md-12">
            <div class="copyright text-center">
              <p>&copy; Copyright 2019 thetixs | Powerd By <a href="http://www.sohigh.com.ve" title="soHigh">soHigh!</a></p>
            </div>
          </div>
        </div>
        
      </div>
    </footer>