  <main>
        <section class="section-base section-color section-call">
            <div class="container">
                <div class="cnt-box cnt-call">
                    <i class="im-paper-plane"></i>
                    <div class="caption">
                        <h2>Visita todos nuestros TOURS</h2>
                        <p>
                            Selecciona el destino que desear conocer y reserva tu cupo
                        </p>
                        <a routerLink="treks" class="btn btn-xs">TOURS</a>
                    </div>
                </div>
               <ul class="slider" data-options="type:carousel,arrows:true,perView:4,perViewMd:3,perViewSm:2,perViewXs:1,gap:30,controls:out,autoplay:3000">
                    <li>
                        <a class="img-box lightbox img-box-caption" href="assets/media/long-9.jpg" data-lightbox-anima="fade-left">
                            <img src="assets/media/long-9.jpg" alt="">
                            <span>Parque 7 Tazas</span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox img-box-caption" href="assets/media/long-10.jpg" data-lightbox-anima="fade-left">
                            <img src="assets/media/long-10.jpg" alt="">
                            <span>Laguna del Maule</span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox img-box-caption" href="assets/media/long-11.jpg" data-lightbox-anima="fade-left">
                            <img src="assets/media/long-11.jpg" alt="">
                            <span>Piedras Blancas</span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox img-box-caption" href="assets/media/long-12.jpg" data-lightbox-anima="fade-left">
                            <img src="assets/media/long-12.jpg" alt="">
                            <span>Parque 7 Tazas</span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox img-box-caption" href="assets/media/long-13.jpg" data-lightbox-anima="fade-left">
                            <img src="assets/media/long-13.jpg" alt="">
                            <span>Passo San Boldo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
  </main>