  
    <!-- ====================== Book Popular Hotel ================= -->
    
  



  <section>
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <!-- <span class="theme-cl">Top Destinations</span> -->
              <h1 style="font-family: moderna;">Popular Tixs</h1>
            </div>
          </div>
        </div>
        
        <div class="row">

        
          <!-- Single Destination -->
          <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let tix of tixs">
            <article class="destination-box style-1">

              <div class="destination-box-image" >
                <figure >
                  <a routerLink="/tix-detail/{{tix.id}}">
                    <img src="{{tix.images[0]}}" class="img-responsive listing-box-img" alt="{{tix.productName}}"  />
                    <div class="list-overlay" ></div>
                  </a>
                  <div class="discount-flick">new</div>
                  <h4 class="destination-place">
                    <a routerLink="/tix-detail/{{tix.id}}">{{tix.productName}}</a>
                  </h4>
                  <a routerLink="/tix-detail/{{tix.id}}" class="list-like left"><i class="ti-heart"></i></a>
                </figure>
              </div>
              
              <div class="entry-meta">
                <div class="meta-item meta-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half"></i>
                </div>
                <div class="meta-item meta-comment fl-right">
                  <span class="text">FROM</span><span class="real-price padd-l-10 font-bold">$7581</span>
                </div>
              </div>

              <div class="inner-box">
                <div class="box-inner-ellipsis">
                  <h4 class="entry-location">
                    <a routerLink="/tix-detail/{{tix.id}}">Singapore</a>
                  </h4>
                  <div class="price-box">
                    <div class="destination-price fl-right">
                      <a routerLink="/tix-detail/{{tix.id}}">
                          <i class="theme-cl ti-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              
            </article>
          </div>
          
        
          
        </div>
    
      </div>
    </section>  
  
    
    <!-- ====================== Popular Domestic Routes From India ================= -->
    
    <!-- ====================== Domestic Routes ================= -->
    <div class="clearfix"></div>
  
    
    <!-- ============== Before Footer ====================== -->
 