<main>
	<section class="cart gray-bg">
		<div class="container">
			<div class="row">	
				<div class="offset-md-4  col-sm-4 cols ">
					<div class="tr-single-box">
							
							
							<div class="tr-single-body">
								<div class="booking-price-detail side-list no-border">
									<!-- <img src="assets/img/check-contact.png"  lass="img-responsive" alt="" /> -->
									 
									<ul>
										
										<li><h4>La solicitud de confirmacion ha sido eliminada con exito</h4><strong class="pull-right"></strong></li>
									</ul>
									<a routerLink="/valist" class="btn btn-success full-width">Aceptar</a>
									
								</div>
							</div>
							
						</div>
				</div>				
			</div>
		</div>
	</section>
</main>
<app-footer></app-footer>
