<main>
        <section class="section-image section-home-alpins light" style="background-image:url(assets/media/image-5.jpg);">
            <div class="container">
                <!-- <hr class="space-lg" /> -->
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="text-lg text-uppercase text-black">Aventura turismo y viajes</h1>
                        
                    </div>
                    <div class="col-lg-9">
                     <ul class="slider" data-options="type:slider,perView:1,arrows:true,nav:true,autoplay:3500" data-anima="fade-right" data-time="1000">
                      <li>
                                <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
                                    <img src="assets/media/image-1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox" href="assets/media/image-4.jpg" data-lightbox-anima="fade-top">
                                    <img src="assets/media/image-4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox" href="assets/media/image-8.jpg" data-lightbox-anima="fade-top">
                                    <img src="assets/media/image-8.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                        
                    </div>
          
                </div>
                <hr class="space-sm" />
            </div>
        </section>

  

    
</main>
     <!-- {{tixs | json}} - -->
     <app-top-tixs></app-top-tixs>
     <main>
         <section class="section-base" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="title">
                            <h2>Que ofrecemos?</h2>
                            <p>Tours y Viajes</p>
                        </div>
                        <p>
                             Viaja y conoce la magnificencia que los ANDES nos brinda. Vive junto a nosotros la mejor asistencia y conducción para turistas.
                        </p>
                        <a href="treks.html" class="btn btn-sm btn-circle btn-icon"><i class="im-geo2-love"></i>Ver DESTINOS</a>
                    </div>
                    <div class="col-lg-8">
                        <ul class="accordion-list" data-open="1">
                            <li>
                                <a href="#">Nuestra ubicación</a>
                                <div class="content">
                                    <p>
                                        Somos una empresa de viaje internacional, nuestra sede se encuentra en la ciudad de Santiago de Chile.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Sobre nuestras caminatas y viajes</a>
                                <div class="content">
                                    <p>
                                        Viajes y TOURS diseñados FULL DAYS para todo público. <br> Coordinado desde la salida hasta el retorno, con asistencia personalizada. 
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Sobre nuestro equipo e invitados</a>
                                <div class="content">
                                    <p>
                                        Contamos con un capital humano profesional en el área de escursiones, escaladas y seguridad de riesgos.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Cómo llegar con seguridad a su destinos</a>
                                <div class="content">
                                    <p>
                                        Incluimos transporte con seguro de viaje, Guias y coordinador para llegar al destino seleccionado.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
       

        <section class="section-base">
            <div class="container">
                <div class="title align-center">
                    <h2>¿POR QUÉ ELEGÍRNOS?</h2>
                    <p>Brindamos la mejor experiencia</p>
                </div>
                <table class="table table-grid table-border table-6-md">
                    <tbody>
                        <tr>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-people-oncloud"></i>
                                    <div class="caption">
                                        <h3>Equipo experimentado</h3>
                                        <p>Siempre vivimos dentro de nuestra increíble naturaleza</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-address-book"></i>
                                    <div class="caption">
                                        <h3>Booking</h3>
                                        <p>Reservaciones en linea, solo en 2 click</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-trekking"></i>
                                    <div class="caption">
                                        <h3>Excursionistas expertos</h3>
                                        <p>Viaja de la mano de nuestro equipo experto</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-tram"></i>
                                    <div class="caption">
                                        <h3>Servicio de transporte</h3>
                                        <p>Descubre lugares naturales escondidos con nuestros tours</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-medicine"></i>
                                    <div class="caption">
                                        <h3>Cruz roja</h3>
                                        <p>Botiquín de primeros auxilios</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-coffee"></i>
                                    <div class="caption">
                                        <h3>Snacks y bebidas</h3>
                                        <p>Tu viaje con recarga alimenticia</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-photos"></i>
                                    <div class="caption">
                                        <h3>Fotos</h3>
                                        <p>Nos tomamos el tiempo para que tengas recuerdos</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-map2"></i>
                                    <div class="caption">
                                        <h3>Descubre</h3>
                                        <p>Todos nuestros servicios <br>
                                        <a href="about.html">Ver más</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section> 
     </main>
    
    <!-- <app-catalog></app-catalog> -->
    <app-pre-footer></app-pre-footer> 
    <app-footer></app-footer>