
<div class="coming-soon theme-bg">
<section class="soon-wrapper">
			<div class="container">
				<div class="col-md-7 content mrg-top-40">
					<div class="row mrg-bot-15 text-center">
				
						<h5 class="cl-white font-20">
Sorry, we are in maintenance work</h5>
					</div>
					<div class="row coming-counter mrg-bott-30">
						<div class="col-md-3 col-sm-3 hour-sec">
							<ul class="countdown purple">
								<li class="day"> <span class="days">00</span>
								<p class="day_ref theme-cl">days</p>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3 days-sec">
							<ul class="countdown">
								<li class="hour"> <span class="hours">00</span>
								<p class="hours_ref theme-cl">days</p>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3 minut-sec">
							<ul class="countdown yellow">
								<li class="minut"> <span class="minutes">00</span>
								<p class="minutes_ref theme-cl">minutes</p>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3 minut-sec">
							<ul class="countdown yellow">
								<li class="second"> <span class="seconds">00</span>
									<p class="seconds_ref theme-cl">seconds</p>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="row ">
						<div class="col-md-12">
							<ul class="coming-social">
								<li><a href="https://www.facebook.com/thetixs" target="_blank" class="theme-cl"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/the_tixs" target="_blank" class="theme-cl"><i class="fa fa-twitter"></i></a></li>
								<li><a href="coming-soon.html#" class="theme-cl"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://www.instagram.com/the_tixs/" target="_blank" class="theme-cl"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</section>

</div>