<section class="dashboard gray-bg padd-0 mrg-top-50 " style="min-height: 600px;">
			<div class="container-fluid" >
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-9">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
							

								<div class="tr-single-header" >
									<h3 class="dashboard-title">
										Welcome to
										<span >
											Thetixs
										</span>
										<span style="font-weight: 100;">
										, please complete your profile ...
									</span> 
								</h3>
									<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
					              <li class="nav-item active">
					                <a class="nav-link" data-toggle="tab" (click)="setPartner()" role="tab">
					                <i class="ti-briefcase"></i> Partner</a>
					              </li>
					              <li class="nav-item">
					                <a class="nav-link" data-toggle="tab"  (click)="setAffiliate()" role="tab">
					                <i class="ti-user"></i> Affiliate</a>
					              </li>
					            </ul>
								</div>					
							</div>
						</div>
					</div>
				</div>
			</div>
</section>
<app-pre-footer></app-pre-footer>