<section class="dashboard  padd-0 mrg-top-50">
			<div class="container-fluid">
				<div class="row">
					
					
					
					<div class="col-lg-12 col-md-12 col-sm-12 ">
						<div class="row mrg-0 mrg-top-20">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h3 class="dashboard-title">Treks </h3>
								</div>
								<div class="tr-single-body">
									<div class="table-responsive">
										<table class="table table-striped table-hover">
											<thead>
												<tr>					
													<th>Nombre</th>
													<!-- <th>Email</th>
													<th>Fecha</th>
													<th>Estado</th> -->
													<th>Acciones</th>
												</tr>
											</thead>
											
											<tbody>
												<!-- tr -->
												<tr *ngFor="let tix of tixs">
													<td>
														<!-- <span class="custom-checkbox">
															<input type="checkbox" id="ao" value="1">
															<label for="ao"></label>
														</span> -->
														<a routerLink="/tix-detail/{{tix.id}}">
															<div class="bk-thumb">
																<img src="{{tix.images[0]}}" class="avatar img-circle" alt="Avatar" />
																<span class="bk-status pending"><i class="fa fa-check-circle"></i></span>
															</div>
															{{tix.productName}}<span></span>
														</a>
													</td>
													<!-- <td><b>{{tix.email}}</b><br>-<span class="seprate"></span>+</td>                        
													<td><b>{{tix.fecha}}</b></td>
													<td>{{tixs.status}}</td> -->
													
													<td>
														<a  class="tbl-action settings" title="Editar Tour" data-toggle="tooltip" (click)="editTrek(tix)" ><i class="ti-pencil"></i></a>
														<a href="#" class="tbl-action bg-danger" title="Borrar tour" data-toggle="tooltip" (click)="deleteTix(tix.id)"><i class="ti-trash"></i></a>
													</td>
												</tr>
												
											
												
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>