<section class="profile-header-nav white-bg padd-0 bb-1">
	<div class="container">
		<div class="row">
			<div class="tr-list-detail">
			</div>

		</div>

				
		<div class="row">
			<div class="col-md-8 col-sm-8">
				<div class="tab" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-pills" role="tablist">
						<li role="presentation" class="active"><a href="restaurant-detail.html#Photos" aria-controls="messages" role="tab" data-toggle="tab"><i class="ti-star"></i> Overview</a></li>
						<li role="presentation"><a href="restaurant-detail.html#Features" aria-controls="profile" role="tab" data-toggle="tab"><i class="ti-crown"></i> Features</a></li>
						<li   style="z-index: 9998;">
							<div >
								<ngx-float-button icon="add" direction='bottom'>
								    <ngx-float-item-button icon="mode_edit" content="Edit" ></ngx-float-item-button>
								    <ngx-float-item-button icon="block" content="Suspend" ></ngx-float-item-button>
								    <ngx-float-item-button icon="delete" content="Delete" ></ngx-float-item-button>
								</ngx-float-button>
							</div>
						</li>
						<!-- <li>
							<div class="fab-container">
							  <button mat-fab class="fab-toggler"
							          (click)="onToggleFab()">
							    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i> 
							  </button>
							  <div [@speedDialStagger]="buttons.length"> 
							    <button *ngFor="let btn of buttons"
							            mat-mini-fab
							            class="fab-secondary"
							            color="secondary">
							      <i class="material-icons">{{btn.icon}}</i>
							    </button>
							  </div>
							</div>
						</li>  -->
					</ul>

					
				</div>
			</div>		
		</div>

		<div class="row">
			<div class="col-md-8 col-sm-12">
				<div class="tab-content tabs">
					<div *ngIf="tix" role="tabpanel" class="tab-pane fade in active" id="Photos">
						<div class="row">
							<div class="tr-single-box" style="border:0px;">
								<div class="tr-single-body">
									<div class="row">
										<div  class="col-md-6 col-sm-6">
											<div   class="list-thumb-box" *ngFor="let item of tix.images; let i=index;" >
												<img 
												src="{{item}}"  *ngIf="i === 0" class="img-responsive" alt="" />
												<!-- <a  class="list-like left"><i class="ti-heart"></i></a> -->
												<!-- <h5>4.8/<sub class="theme-cl">5</sub></h5> -->
											</div>
											<ul class="gallery-list">
										<li *ngFor="let image of tix.images">
											<a data-fancybox="gallery" href="{{image}}">
												<img src="{{image}}" class="img-responsive" eralt="">
											</a>
										</li>
									</ul>
										</div>
										
										<div class="col-md-6 col-sm-6">
											
											<div class="list-overview-detail" >
												<h2>{{tix.productName}} 


												</h2>

    	
												{{tix.description}}
											</div>
										</div>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade in" id="Features">
						
						<div class="row">
							<div class="tr-single-box" style="border:0px;">
								<div class="tr-single-body">
									<ul class="amenities third">
										<li>Satellite TV</li>
										<li>Coffeemaker</li>
										<li>Hair Dryer</li>
										<li>Swimming Pool</li>
										<li>Room Service</li>
										<li>Luxury Bedding</li>
										<li>Good Showers</li>
										<li>Free Parking</li>
										<li>Free Wifi</li>
										<li>Bath towel</li>
										<li>Free Coffee</li>
										<li>Pets Allow</li>
										<li>Hot Water</li>
										<li>Attached garage </li>
										<li>Elevator</li>
										<li>Spa/Sauna</li>
										<li>Indoor pool </li>
										<li>Security cameras </li>
									</ul>
								</div>

							</div>
						</div>
						
						<!-- Extra features -->
						<div class="row">
							<div class="tr-single-box">
								<div class="tr-single-header">
									<h4><i class="ti-thumb-up"></i>Extra Features</h4>
								</div>
								<!-- <div class="tr-single-body">
									
									<ul class="simple-features-list">
										<li>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
										<li>Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</li>
										<li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
										<li>Pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes.</li>
										<li>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
										<li>Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</li>
										<li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
										<li>Pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes.</li>
									</ul>
									
								</div> -->
							</div>
						</div>
						
					</div>
				</div>
			</div>
		
			<div class="col-md-4 col-sm-12">
				<div class="tr-single-box">
					<div class="tr-single-header">
						<div class="entry-meta">
							<div class="meta-item meta-comment fl-right">
								<div class="view-box" *ngIf="tix">
									<div class="fl-right"  *ngIf="tix">
										<h5 class="font-20"  *ngIf="tix">  
											<span class="text theme-cl"  *ngIf="tix">
											FROM
											</span>
											<span class="real-price padd-l-10 font-bold" *ngIf="tix.prices[0]">$ {{tix.prices[0].price}}
											</span>
											<sub>/Per Person</sub></h5>
									</div>
								</div>
							</div>
							<div class="meta-item meta-author">
								<div class="hotel-review entry-location">
									<span class="review-status bg-success"><i class="ti-check"></i></span>
									<h6><span class="cl-success font-bold">Good</span>available
									</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="tr-single-body">
						<form class="book-form">
							<div class="row">
								<div class="col-xs-12">
									<xunk-calendar [selectedDate]="selDate"></xunk-calendar>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Adult</label>
										<input type="number" name="adult" value="1" class="form-control">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Children</label>
										<input type="number" name="children" value="0" class="form-control">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 mrg-top-15">
									<a href="restaurant-detail.html#" class="btn theme-btn full-width">Check availability</a>										
								</div>
							</div>							
						</form>
					</div>
				</div>
			</div>
		</div>


		

	</div>
</section>
<app-pre-footer></app-pre-footer>