<main>
	<section class="main-banner scroll-con-sec hero-section" data-scrollax-parent="true">
			<div class="slideshow-container">
				<!-- slideshow-item -->	
				<div class="slideshow-item">
					<div class="bg"  data-bg="assets/img/banner-2.jpg" 
					style="background-image:url(assets/img/banner-2.jpg)"></div>
				</div>                        
			</div>
			<div class="overlay"></div>
			<div class="hero-section-wrap fl-wrap">
				<div class="container">
					<div class="intro-item fl-wrap">
						<div class="caption text-center cl-white">
							<h2 style="font-size: 40px; font-family: Montserrat;">Confirmemos la reserva de tu proxima aventura</h2>
							<span style="padding-top: 200px;">Indique por favor, la referencia del pago realizado y el numero de la reserva</span>
						</div>
					
						<form class="form"[formGroup]="ngFormSendValidation" (ngSubmit) ="sendValidation()" >
							<fieldset class="home-form-1">						
								<div class="col-md-3 col-sm-3 padd-0">
									<input type="text" class="form-control br-1" placeholder="Referencia de pago" id="referencia" formControlName="referencia" [(ngModel)]="validation.referencia" [ngClass]="{ 'is-invalid': submitted && fval.referencia.errors }" required>
									<div *ngIf="submitted && fval.referencia.errors" class="invalid-feedback">
										<div *ngIf="fval.referencia.errors.required" class="errorLabel">* La referencia es requerida
										</div>
									</div>
								</div>
						
								<div class="col-md-3 col-sm-3 padd-0">
									<input type="text" class="form-control br-1" placeholder="Nro de reserva" id="nroReserva" formControlName="nroReserva" [(ngModel)]="validation.nroReserva" [ngClass]="{ 'is-invalid': submitted && fval.nroReserva.errors }"required>
									<div *ngIf="submitted && fval.nroReserva.errors" class="invalid-feedback">
										<div *ngIf="fval.nroReserva.errors.required" class="errorLabel">* El numero de reserva es requerido
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 padd-0">
								<input type="text" class="form-control br-1" placeholder="Telef. de contacto" id="telefono" formControlName="telefono" [(ngModel)]="validation.telefono" [ngClass]="{ 'is-invalid': submitted && fval.telefono.errors }"required>
									<div *ngIf="submitted && fval.telefono.errors" class="invalid-feedback">
										<div *ngIf="fval.telefono.errors.required" class="errorLabel">* El telefono es requerido
										</div>
									</div>
								</div>									
								<div class="col-md-2 col-sm-2 padd-0">
									<button  class="btn theme-btn cl-white seub-btn" type="submit">Confirmar</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
</main>