<main><section class="cart gray-bg">
			<div class="container">
				<div class="row">					
					<!-- Sidebar -->
					<div class="col-md-4 col-sm-4">
						<div class="tr-single-box">
							<div class="tr-single-header">
								<h1><span class="text-warning">1.</span> </h1>
								<h4>Resumen de tu reserva</h4>
								
							</div>
							
							<div class="tr-single-body">
								<div class="booking-price-detail side-list no-border">
									<ul>
										<li>Trek:<strong class="pull-right">{{_uw.book.productName}}</strong></li>
										<li>Fecha:<strong class="pull-right">{{_uw.book.fecha}}</strong></li>
										<li>Personas<strong class="pull-right">{{_uw.book.cant}}</strong></li>

										<li>Precio por persona<strong class="pull-right">{{_uw.book.precioUni}} CLP</strong></li>
										<li>Monto total:<strong class="pull-right">{{_uw.book.monto}} CLP</strong></li>
										
										<!-- <li>Children<strong class="pull-right">3</strong></li>
										<li>Guide<strong class="pull-right">Richa Alitics</strong></li>
										<li>Hotel<strong class="pull-right">Resort valley</strong></li> -->
									</ul>
									<a (click)="sendBook()" class="btn btn-success full-width">Reservar</a>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
	</main>
	<app-footer></app-footer>